@import url(./reset.css);

@font-face {
  font-family: Roboto, sans-serif;
  src: url('../static/Roboto-Regular.ttf');
}

html {
  font-size: 10px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COMMON */
h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}

a {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  line-height: 1.5rem;
}

a:hover {
  color: darkgray;
} 

input[type='text'] {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem;
  max-width: 20rem;
}


/* Mobile (tablet) first) */ 
.App {
  min-height: 100vh;
  width: 100%;
  background-color: lightblue;
}

.container {
  width: 100%;
  background:	#eeeeee;
}

/*-- HEADER --*/
header {
  box-sizing: border-box;
  padding: 0rem 1rem;
  min-height: 10rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background:	#eeeedd;
}

nav {
  margin: 1rem 0 2rem 0;
}

.menu {
  width: 100%;
  display: flex;
}

.menu li {
  margin-right: 1rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding: 1rem;
  width: 6.4rem;
  height: 6.4rem;
}

.logo-title {
  margin: 0.2rem 0 1rem 0;
}

/*-- MAIN CONTENT --*/

#main {
  box-sizing: border-box;
  width: 100%;
  background: lightyellow;
  padding: 1rem 1rem;
}

.page {
  min-height: 70vh;
  padding: 2rem;
}

.page-title {
  text-align: center;
  margin-bottom: 4rem;  
}

.book-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 3rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  max-height: 34rem;
  width: 25rem;
  background:	#eeeedd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.book-card:hover {
  animation: hoverAnim;
  transform: translate(0, -0.5rem);
  transition: all 0.5s ease-in-out;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.book-img {
  width: 20rem;
  height: 20rem;
}

.book-content {
  box-sizing: border-box;
  height: 10rem;
  margin-top: 1rem;
  text-align: center;
}

.book-title {
  font-size: 1.6rem;
}

.book-card p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background: gray;
  color:white;
  border-radius: 0 0 0.5rem 0.5rem;
}

.button:hover {
  background: lightgray;
  color: black;
}

.button-inner {
  display: block;
  font-size: 2rem;
  line-height: 0;
}

.text {
  font-size: 1.6rem;
  word-spacing: 1.2rem/1.6rem;
  line-height: 2rem;
}

.contact {
  box-sizing: border-box;
  font-size: 2rem;
  margin: 2rem 0;
  border: 1px solid darkgray;
}

.contact-logo {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1.5rem;
}

.contact td {
  padding: 1rem;
}

.contact .main-row {
  border-bottom: 1px solid darkgray;
}

/*-- FOOTER --*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  box-sizing: border-box;
  padding: 1rem;
  min-height: 15rem;
  background: #35414c;
  
  color: lightgray;
}

footer .footer-block {
  padding: 1rem;
}

.footer-title {
  margin: 1.5rem 0;
}

.footer-list li {
  margin: 0.5rem 0;
}

.footer-list a {
  color: inherit;
  text-decoration: underline;
}

.footer-list a:hover {
  cursor: pointer;
  color: darkgray;
  text-decoration: underline;
}



/* Desktop */
@media all and (min-width: 990px) {

  .App {
    background-image: url('../static/wallpaper-background.jpg');
  }

  .container {
    width: 99rem;
    margin: 0 auto;
    background: lightyellow;
    border-radius: 0.5rem;
  }

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
  };

  #main {
    padding: 2rem 2rem;
  }

  .page {
    padding: 4rem;
  }

  .book-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  
}




